  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer-container">

      <!-- Блок о компании -->
      <div class="footer-about">
        <a href="{{ url_for('main') }}" class="footer-logo">
          <img src="{{ url_for('static', filename='images/logo_dark.svg') }}" alt="Dentist-AI Logo" />
          <span>Dentist-AI</span>
        </a>
        <p>
          Клиники работают быстрее,
          а пациенты получают лучший сервис.
        </p>
      </div>

      <!-- Ссылки -->
      <div class="footer-links">
        <h3>Продукт</h3>
        <ul>
          <li><a href="{{ url_for('main') }}">Главная</a></li>
          <li><a href="{{ url_for('about') }}">О нас</a></li>
          <li><a href="{{ url_for('pricing') }}">Цены</a></li>
          <li><a href="{{ url_for('contact') }}">Контакты</a></li>
        </ul>
      </div>

    
      <div class="footer-links">
        <h3>Условия</h3>
        <ul>
          <li><a href="{{ url_for('doc') }}">Политика конфиденциальности</a></li>
          <li><a href="{{ url_for('doc') }}">Пользовательское соглашение</a></li>
          <li><a href="{{ url_for('doc') }}">Партнёрская программа</a></li>
        </ul>
      </div>

      <!-- Контакты -->
      <div class="footer-contact">
        <h3>Контакты</h3>
        <p>Email: <a href="mailto:dentist-ai@gmail.com">dentist-ai@gmail.com</a></p>
        <p>Телефон: <a href="tel:+77777777777">+7 777 777 77 77</a></p>
        <div class="socials">
          <a href="#"><img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="Instagram"></a>
          <a href="#"><img src="{{ url_for('static', filename='images/telegram.svg') }}" alt="Telegram"></a>
          <a href="#"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" alt="LinkedIn"></a>
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      <p>© 2025 Dentist-AI. Все права защищены.</p>
    </div>
  </footer>
